@model IEnumerable<ExamMvcWeb.EmployeeService.Employee>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<form action="/Employee/Index" method="get" style="margin-bottom: 20px">
    <input name="keyword" value="@ViewBag.keyword" />
    <button type="submit">Search</button>
</form>

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Salary)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Department)
    </td>
</tr>
}

</table>
